@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
/* #landingBody{
    height: 100%;
    z-index: 999;
    margin: 0 auto;
    background-image: linear-gradient(#fafafaf3, #000000e5);
} */
.landingImg {
    height: 65%;
}

#card-holder {
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    z-index: 1;
}


#btnCon{
    margin: 0 auto;
    justify-content: center;
}
#enter {
    width: 30vw;
    height: 10vh;
    font-family: 'Permanent Marker', cursive;
    color: black;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    font-size: 1.75rem;
    margin-left: 4%;
}
@media (max-width: 70em) {
    #enter {
        width: 85vw;
    }
    .flip-card .flip-card-inner {
        animation-delay: 5s;
        animation:spinFast 5s 1;
    }
}
#enter:hover{
    color: rgb(3, 152, 211);
}

.flip-card {
    background-color: transparent;
    width: 40vw;
    height: 75vh;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border: none !important;    
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.flip-card .flip-card-inner {
    animation:spinFast 5s 1;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;

}
/* .flip-card:hover .flip-card-inner {
    animation: none;
    } */
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: none !important;

}

/* #card-holder:hover{
    animation:spinFast 5s infinite;
} */
@keyframes spinFast {
    0%  {-webkit-transform: rotateY(0deg);}
    100% {-webkit-transform: rotateY(180deg);}   
}
@-webkit-keyframes spinFast {
    0%  {-webkit-transform: rotateY(0deg);}
    100% {-webkit-transform: rotateY(180deg);}   
}
/* @keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(180deg);}	
}
@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(180deg);}	
} */

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: transparent;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
}