@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

@keyframes loadHider {
    0% {
        visibility: visible;
        opacity: 1;
    }
    
    99% {
        visibility: visible;
        opacity: 0.55;
    }

    100% {
        visibility: hidden;
        display: none;
        opacity: 0;
    }
}

@keyframes strobe {
    0% {
        color: black;
    }

    

    100% {
        color: white;

    }
}

.container {
    max-width: 100%;
    padding: 0%;
    margin: 0;
}

#openingScene {
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    justify-content: center;
    text-align: center;
    margin-top: 0%;
    z-index: 999;
    color: black;
    background-color: rgb(0, 0, 0);
    animation: 8s linear loadHider 1;
    visibility: hidden;
    opacity: 0;
    /* background-image: ; */
    /* background: linear-gradient(0.25turn, #003a0a, #010300, #003a0a); */
}

#landingImg {
    margin: 0 auto;
    padding-top: 10%;
    height: 80vh;
}

#rhinoHolder {
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    z-index: 1;
}

#btnCon {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

#enter {
    width: 30vw;
    height: 10vh;
    font-family: 'Permanent Marker', cursive;
    color: black;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    font-size: 1.75rem;
    margin-left: 4%;
}



#enter:hover {
    color: rgb(3, 152, 211);
}


.strobe {
    /* background-image: url('../images/staticbg.jpg'); */
    color: white;
    /* background-clip: text; */
    /* -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 20%;
    background-repeat: repeat; */
    font-size: 3.85rem;
    animation: 8s ease-in strobe 1;
    animation-fill-mode:forwards ;
}


@keyframes moveBG {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

@media screen and (max-width: 70em) {
    #enter {
        width: 85vw;
    }

   #scheduleContainer{
       height: 110%;
       overflow-y: scroll;
       padding-bottom: 5%;
   }
    #rhinoHolder{
        width: 20vw;
    }

    #openingScene {
        /* height: 100vh; */
        width: 100vw;
        margin: 0 auto;
    }
    #landingRhino{
        height: 42vh;
        padding-left: 18%;
    }
    #crazyText {
        width: 50vw;
        margin: 0 auto;
    }

    #landingImg {
        height: 52vh;
        padding-top: 25%;
    }
    .strobe{
        font-size: 2.2rem;
    }

}