/* #section3 {
    background-image: linear-gradient(90deg, rgba(15, 0, 0, 0.26) 0%, rgba(43, 199, 247, 0.815) 50%,rgba(43, 199, 247, 0.815) 60%, rgba(15, 0, 0, 0.26) 100%, transparent 50%);
    background-size: cover;
    background-position-y: 0%;
    height: 200vh;
    width: 100vw;
    z-index: -5;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    padding-top: 0%;
    margin-top: 0%;
    background-color: black;
} */

.underConstruction{
    text-align: center;
    padding-top: 5%;
}
#sectionStore {
    background-color: transparent;
    overflow-y: scroll;
    height: 100%;
    margin-top: 0%;
    border-radius: 15px;
    padding-top: 5%;
    padding-bottom: 20%;
}

#sectionStore::-webkit-scrollbar {
    width: 0 !important
}

#sectionStore {
    overflow: -moz-scrollbars-none;
}

#sectionStore {
    -ms-overflow-style: none;
}

#sectionStore:hover {
    background-image: linear-gradient(90deg, rgba(15, 0, 0, 0.137) 0%, rgba(0, 5, 7, 0.767) 50%,rgba(0, 5, 7, 0.658) 60%, rgba(15, 0, 0, 0.137) 100%, transparent 50%);
}

#storeCard {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 23%;

}

@media (max-width: 70em) {

    #storeCard {
        margin-left: 0%;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    #section3 {
        background-size: 200vh;
        background-position-x: 42%;
        /* height: 290vh; */
    }

    #sectionStore {
        width: 100%;
        padding-left: 20%;
        overflow-y: visible;

    }
}

#storeCard:hover {
    -webkit-transform: scale(1.15, 1.05);
    transform: scale(1.15, 1.05);
    box-shadow: 0 0 15px rgb(3, 152, 211);

}

.storeBtn {
    font-family: 'Permanent Marker', cursive;
    height: 15vh;
}

.storeBtn:hover {
    color: rgb(3, 152, 211);
}

#storeImg {
    height: 25vh;

}

.storeCB {
    background-color: black;
    color: white;
    text-align: center;
}

#cartDiv {
    display: flex;
    justify-content: end;
}

#cartLogo {
    height: 50px;
    margin-left: -100%;
}

#cartCount {
    display: inline;
    color: black;
}

#ppform {
    margin: 0 auto;
    display: grid;
}

#ppImg {
    margin-top: 2%;
}

#pp1 {
    margin: 9px auto;
}