/* #carouselPic {
    height: 35vh;
} */

#sectionResults {
    background-size: auto;
    /* background-color: rgb(0, 0, 0); */
    background-position-y: 0%;
    height: 54rem;
    width: 70%;
    animation: colorfade1 20s ease-in infinite;
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    padding-top: 1%;
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 4%;
}
.carousel-item>img {
    height: 750px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 70em) {
    #sectionResults {
        height: 35rem;
        width: 95%;
    }

    .carousel-item>img {
        height: 500px;
        width: 100%;
    }
}


@-webkit-keyframes colorfade1 {
    0% {
        background-color: black;
    }

    20% {
        background-color: rgb(0, 37, 48);
    }

    30% {
        background-color: rgb(4, 51, 90);
    }

    40% {
        background-color: rgb(14, 53, 104);
    }

    50.0% {
        background-color: rgb(3, 152, 211);
    }

    /* your chosen 'mid' color */
    60% {
        background-color: rgb(3, 152, 211);
    }

    70% {
        background-color: rgb(2, 44, 92);
    }

    80% {
        background-color: rgb(0, 2, 12);
    }

    90% {
        background-color: rgb(14, 53, 104);
    }

    100.0% {
        background-color: rgb(3, 152, 211);
    }
}

@keyframes colorfade1 {
    0% {
        background-color: black;
    }

    20% {
        background-color: rgb(0, 37, 48);
    }

    30% {
        background-color: rgb(4, 51, 90);
    }

    40% {
        background-color: rgb(14, 53, 104);
    }

    50.0% {
        background-color: rgb(3, 152, 211);
    }

    /* your chosen 'mid' color */
    60% {
        background-color: rgb(3, 152, 211);
    }

    70% {
        background-color: rgb(2, 44, 92);
    }

    80% {
        background-color: rgb(0, 2, 12);
    }

    90% {
        background-color: rgb(14, 53, 104);
    }

    100.0% {
        background-color: rgb(3, 152, 211);
    }
}