body{
    font-family: 'Teko', sans-serif;
}


/* #jumboPic{
size: cover;
} */
#section1 {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/collage.jpg);
    background-size: cover;
    background-position-y: 0%;
    height: 100vh;
    z-index: -5;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    padding-top: 0%;
    margin-top: 0%;
}

.container1 {
    background-image: linear-gradient(rgba(17, 1, 1, 0.226) 0%, rgba(12, 12, 12, 0.377) 20%, transparent 20%);
    background-color: rgba(0, 0, 0, 0.774);
    color: rgb(247, 241, 241);
    height:100vh;
    width: 100vw;
    margin-top: 0%;
    /* border-radius: 25px; */
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
}
.container1:hover {
    background-color:  rgba(0, 0, 0, 0.856);
}

#mainBody {
    font-size: 1.5rem;
    /* background-image: linear-gradient(105deg,rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0.9) 50%, transparent 1000%); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
@media (max-width: 70em) {
    
    #section1{
        background-size: 200vh;
        background-position-x: 0%;
    }
    #container1{
        width: 100vw;
    }
}