.active {
    font-size: 1.55rem;
    color: blue;
    text-shadow: 5px;

}


#scheduleContainer {
    background-image: linear-gradient(#202020d5, #1391b8b7),url('../images/unnamed-10.jpg');
    /* overflow-y: scroll; */
    height: 170vh;
    margin-top: 0%;
    border-radius: 15px;
    padding-bottom: 2%;
    margin-bottom: 2%;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    margin-top: -1px;
    padding-top: 1px;

}

.calendarText {
    text-align: center;
}

#scheduleContainer::-webkit-scrollbar {
    width: 0 !important
}

#scheduleContainer {
    overflow: -moz-scrollbars-none;
}

#scheduleContainer {
    -ms-overflow-style: none;
}

/* #scheduleContainer:hover {
    background-color:  rgba(0, 0, 0, 0.856);
} */
#trainPkg {
    margin-top: 5%;
    height: 22%;
    text-align: center;
    color: black;
    background-image: linear-gradient(#20202052, #34abcf65)
        /* background-size: 20rem;
    background-repeat: repeat-x;
    background-position-y: 50%;
    background-position-x: 50%; */
        /* background-image: linear-gradient(#2020209f, #68acecbb), url(../images/babyrino.jpg); */
}

#calendarContainer {
    padding-top: 2%;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.952);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(5, 5, 5);
    outline: 1px solid rgb(4, 100, 196);
}

#form {
    padding-bottom: 10%;
    color: black;
}

#form:hover {
    color: white;
}

#onlineTrainingContainer {
    background-color: rgba(0, 0, 0, 0.164);
    padding: 15px;
    border-radius: 25px;
    text-align: center;
}

.trainingText {
    color: white;
}

#inPersonTrainingContainer {
    background-color: rgba(255, 255, 255, 0.555);
    padding: 15px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 2rem;
    height: fit-content;
    color: black;
}

.inPersonPurchase {
    justify-content: center;
    color: white;
    display: inline-block;
    font-size: 1.25rem;
}

#ppTrainingForm:hover {
    color: rgb(3, 152, 211);
}
#salesContainer{
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 25px;
}
.salesHeader{
    font-size: 3.85rem;
}
.salesBody{
    font-size: 1.85rem;
    text-align: center;
}
.salesLinks{
    text-align: center;
}
.salesBody ul{
    list-style: none;
}

@media screen and (max-width: 70em) {

    #form {
        padding-bottom: 20%;
        color: white;
    }


    #calendarContainer {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.856);

    }
    #scheduleContainer{
        height: 270vh;
    }
}