body {
    background-color: white;
    }

#imgDiv{
    display: flex;
    justify-content: center;
}
img {
    height: 60vh;
    /* margin-left: 28%; */
}
.container{
    display: flex;
    justify-content: center;
}
#btn{
   border-radius: 15px;
   background-color: white;
   border: none;
   text-transform: uppercase;
   font-size: 1.5rem;
   color: black;
}
#btn:hover{
    font-size: 1.85rem;
}